# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.*

# Caches
.cache/
.vite/
.next/

# IDEs and editors
.vscode/
.idea/
*.swp
.DS_Store

# client
client/.env

# Server
server/.env

# Lockfiles (optional: keep if you prefer committing them)
# package-lock.json
# pnpm-lock.yaml


